body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    width: 70vw;
    min-width: 300px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

body li {
    margin-top: 10px;
}

body #image-row img {
    width: 32%;
    position: relative;
}